embed-server --server-config=standalone-full.xml
    if (outcome != "success") of /system-property=org.kie.server.repo:read-resource
        /system-property=org.kie.server.repo:add(value={{ org_kie_server_repo }})
    end-if

    if (outcome != "success") of /system-property=org.kie.example:read-resource
        /system-property=org.kie.example:add(value={{ org_kie_example }})
    end-if

    if (outcome != "success") of /system-property=org.jbpm.designer.perspective:read-resource
        /system-property=org.jbpm.designer.perspective:add(value={{ org.jbpm.designer.perspective }})
    end-if

    if (outcome != "success") of /system-property=designerdataobjects:read-resource
        /system-property=designerdataobjects:add(value={{ designerdataobjects }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.user:read-resource
        /system-property=org.kie.server.user:add(value={{ org.kie.server.user }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.pwd:read-resource
        /system-property=org.kie.server.pwd:add(value={{ org.kie.server.pwd }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.location:read-resource
        /system-property=org.kie.server.location:add(value={{ org.kie.server.location }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.controller:read-resource
        /system-property=org.kie.server.controller:add(value={{ org.kie.server.controller }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.controller.user:read-resource
        /system-property=org.kie.server.controller.user:add(value={{ org.kie.server.controller.user }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.controller.pwd:read-resource
        /system-property=org.kie.server.controller.pwd:add(value={{ org.kie.server.controller.pwd }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.id.pwd:read-resource
        /system-property=org.kie.server.id:add(value={{ org.kie.server.id }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.persistence.ds:read-resource
        /system-property=org.kie.server.persistence.ds:add(value={{ org.kie.server.persistence.ds }})
    end-if

    if (outcome != "success") of /system-property=org.kie.server.persistence.dialect:read-resource
        /system-property=org.kie.server.persistence.dialect:add(value={{ org.kie.server.persistence.dialect }})
    end-if

stop-embedded-server